/*
  Manually override the theme colors because Minima 3 is bugged.
*/

$primary: #b3003b;

.site-header {
    border-top-color: $primary;
}

/*
  Some typographic styling.
*/

body {
    font-family: serif;
    line-height: 2em;
}

h2, h3, h4, h5, h6, .paragraph, .imageblock, .quoteblock {
    margin-bottom: 1em;
}

h2 {
    font-weight: bold;
}

h3, h4, h5, h6 {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

/*
  Table of contents styles.
*/

.toc {
    border: 1px solid lighten($primary, 50%);
    margin: 1em;
    padding: 1em;
}

.toc #toctitle {
    font-weight: bold;
}

/*
  Blockquote styles.
*/

.quoteblock blockquote {
    border-left-color: $primary;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    padding-left: 2em;
}

.quoteblock .paragraph {
    margin-bottom: 0;
}

/*
  Old school asterisms.
*/

hr {
    border: none;
}

hr::before {
    content: "† † †";
    display: block;
    text-align: center;
}

/*
  List styles.
*/

.ulist.none * {
    /* https://docs.asciidoctor.org/asciidoc/latest/lists/unordered/#custom-markers */
    list-style-type: none;
}
